<div class="auth">
    <input type="text" id="login" name="login" @bind="_login">
    <input type="password" id="password" name="password" @bind="_password">
    <button type="button" @onclick="Login"></button>
</div>
